<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="landingpage.css">

</head>
<body>
    <nav>
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">CRYPTO-CURRENCIES</a></li>     
            <li><a href="http://localhost:3000/login">LOGIN</a></li>            
            <li><a href="http://localhost:3000/signup">SIGN-UP</a></li> 
           
        </ul>   
    </nav>
   
    <h1>Welcome to Home Page</h1>
    
</body>
</html>